<!doctype html>
<html ng-app="alunos">
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-resource.min.js"></script>
    <script type="text/javascript" src="alunos.js"></script>    
</head>
<body ng-controller="AlunosController">
    <h2>Cadastro de Alunos</h2>
    <table>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Cidade</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="aluno in alunos">
          <td><input type="text" ng-model="aluno.codigo" readonly="readonly"/></td>
          <td><input type="text" ng-model="aluno.nome"/></td>
          <td><input type="text" ng-model="aluno.cidade"/></td>
          <td><input type="button" value="atualizar" ng-click="atualizar(aluno)" /></td>
          <td><input type="button" value="excluir" ng-click="excluir(aluno)" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="text" ng-model="novoAluno.nome"/></td>
          <td><input type="text" ng-model="novoAluno.cidade"/></td>
          <td><input type="button" value="Incluir" ng-click="adicionar(novoAluno)" /></td>
          <td></td>
        </tr>
    </table>
</body>
</html>